<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">友情链接&nbsp;&nbsp;
        <a href="http://armsword.com">armsword</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://yanyiwu.com">bswgd</a>
        <!--        <a href="mailto:{{ site.email }}">Contracts</a> -->
    </h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="footer-col-3 column">
        <p class="text"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253417731'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253417731' type='text/javascript'%3E%3C/script%3E"));</script> | <a href="http://www.miitbeian.gov.cn/">{{ site.icp }}</a></p>
    </div>
  </div>

</footer>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?408685a6886021729bdbbbc85794519b";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
  function openLinkInNewWindow () {
    $('a[href^="http"]').each(function(){
      $(this).attr('target', '_blank');
    });
  }
  $(document).ready(openLinkInNewWindow);
</script>
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
