<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-3 column">
        <p class="text"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253417731'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253417731' type='text/javascript'%3E%3C/script%3E"));</script> | {{ site.description }}</p>
      
    </div>
  </div>

</footer>
